@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body {
    background: #282424;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease-in-out;
}

header ul li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

header ul li a:hover::before {
    width: 100%;
    left: 0;
    filter: drop-shadow(0 0 5px #fff);
}

header .burger-menu {
    display: none;
    font-size: 24px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     background: linear-gradient(#2b1055, #7597de);
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #383444, transparent);
    z-index: 15;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#bulan {
    mix-blend-mode: screen;
    animation: rotate 2080s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

section img#awan {
    animation: rotate-reverse 2080s linear infinite;
}

@keyframes rotate-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.meteor {
    position: absolute;
    mix-blend-mode: screen;
    z-index: 10;
    width: 200px;
    left: 800px;
    top: -200px;
    height: auto;
    rotate: 0deg;
    animation: lurus 5s linear infinite;
}

@keyframes lurus {
    0% {
        transform: translateX(300%) translateY(0);
    }
    100% {
        transform: translateX(-300%) translateY(300%);
    }
}


section img#meteor {
    mix-blend-mode: screen;
    width: 50px;
    position: relative;
    height: auto;
    z-index: 12;
}

section img#gunung {
    z-index: 11;
}

#text {
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 5vw;
    z-index: 10;
    right: -300px;
}

#falling_star {
    animation: rotate 150s linear infinite;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 40px;
    background-color: none;
    color: #2b1055;
    font-size: 0.9em;
    z-index: 12;
    transform: translateY(100px);
}

/* Scroll Mouse */
.scrolldown {
    --color: white;
    --sizeX: 30px;
    --sizeY: 50px;
    position: relative;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid var(--color);
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
}

.scrolldown::before {
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: var(--color);
    border-radius: 100%;
    animation: scrolldown-anim 2s infinite;
    box-sizing: border-box;
    box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
    0% {
        opacity: 0;
        height: 6px;
    }

    40% {
        opacity: 1;
        height: 10px;
    }

    80% {
        transform: translate(0, 20px);
        height: 10px;
        opacity: 0;
    }

    100% {
        height: 3px;
        opacity: 0;
    }
}

.chevrons {
    padding: 6px 0 0 0;
    margin-left: -3px;
    margin-top: 48px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevrondown {
    margin-top: -6px;
    position: relative;
    border: solid var(--color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
    animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
    animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}

.dua {
    position: relative;
    background: #383444;
    padding: 50px;
    scroll-margin-top: 100px;
    display: flex;
    height: 100vh;
    align-items: center;
}

.kotak-dua {
    background-color: #282434;
    width: 480px;
    height: 94%;
    z-index: 1;
    margin-right: 80px;
}

.kotak-dua p {
    position: relative;
    bottom: 80px;
    color: white;
}

.kotak-dua img {
    position: relative;
    bottom: 110px;
    left: -80px;
}

.kotak-judul-dua {
    position: relative;
    left: 250px;
    width: 300px;
    height: 100px;
    padding: 20px 20px;
    background-color: #383444;
    z-index: 100;
    color: white;
    font-weight: 100;
}

.jumlah-project {
    position: absolute;
    bottom: 70px;
    left: 350px;
    width: 180px;
    height: 100px;
    padding-left: 20px;
    background-color: #383444;
    color: white;
    font-weight: 100;
    display: block;
    justify-self: center;
    align-items: center;
    text-align: left;
}

.jumlah-project h1 {
    font-size: 100px;
    position: relative;
    animation: glitch 1s infinite;
}

.jumlah-project h1 {
    cursor: pointer;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

.jumlah-project h1::before,
.jumlah-project h1::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #383444;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
}

.jumlah-project h1::before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation: glitchTop 1.5s infinite linear alternate-reverse;
}

.jumlah-project h1::after {
    left: -2px;
    text-shadow: -2px 0 blue;
    animation: glitchBottom 1.5s infinite linear alternate-reverse;
}

@keyframes glitchTop {
    0% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    5% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    10% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    15% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    20% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    25% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    30% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    35% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    40% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    45% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    50% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    55% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    60% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    65% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    70% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    75% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    80% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    85% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    90% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    95% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    100% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
}

@keyframes glitchBottom {
    0% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    5% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    10% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    15% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    20% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    25% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    30% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    35% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    40% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    45% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    50% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    55% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    60% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    65% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    70% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    75% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    80% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    85% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
    90% {
        clip: rect(85px, 9999px, 96px, 0);
        transform: skew(0.3deg);
    }
    95% {
        clip: rect(44px, 9999px, 56px, 0);
        transform: skew(0.3deg);
    }
    100% {
        clip: rect(12px, 9999px, 20px, 0);
        transform: skew(0.3deg);
    }
}

.jumlah-project h2 {
    position: absolute;
    background-color: #383444;
    color: #279b84;
    width: fit-content;
    height: auto;
    bottom: -5px;
    right: 20px;
}

.about-me-dua {
    position: relative;
    width: 60%;
    color: white;
}

.language-social {
    display: flex;
    align-items: center;
    gap: 10px;
}

#language-toggle {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease-in-out;
    color: black;
}

#language-toggle:hover {
    cursor: pointer;
    transform: rotateX(10deg) rotateY(-10deg);
    box-shadow: 0 0 10px white;
}

.social-media a {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    transition: color 0.2s ease-in-out;
}

#github:hover {
    color: #100c0c;
}

#linkedin:hover {
    color: #186cc4;
}

#instagram:hover {
    color: rgb(225, 48, 108);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #282424;
}

::-webkit-scrollbar-thumb {
    background: #3a3535;
    border-radius: 6px;
    border: 2px solid #282424;
}

::-webkit-scrollbar-thumb:hover {
    background: #514949;
}

/* Media Queries */

@media (max-width: 1440px) {
    .kotak-dua img {
        bottom: 78px;
    }
}

@media (max-width: 1440px) {
    .kotak-dua img {
        bottom: 78px;
    }
    .dua,
    .kotak-dua,
    .kotak-dua p,
    .kotak-dua img,
    .kotak-judul-dua,
    .jumlah-project,
    .about-me-dua {
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 20px 40px;
    }

    header .logo {
        font-size: 18px;
    }

    header ul li a {
        font-size: 14px;
    }

    section {
        padding: 40px;
    }

    #text {
        font-size: 6vw;
    }

    #btn {
        padding: 6px 25px;
        font-size: 0.9em;
    }

    .dua {
        padding: 40px;
    }

    .dua h2 {
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 30px;
    }

    header .logo {
        font-size: 16px;
    }

    header ul {
        flex-direction: column;
    }

    header ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    header ul li a {
        font-size: 12px;
    }

    section {
        padding: 30px;
    }

    #text {
        font-size: 7vw;
    }

    #btn {
        padding: 5px 20px;
        font-size: 0.8em;
    }

    .dua {
        padding: 30px;
        flex-direction: column;
        align-items: center;
    }

    .dua h2 {
        font-size: 0.7em;
    }

    .isi-dua {
        margin-right: 0;
    }

    #teamwork {
        width: 300px;
        height: 300px;
        margin-top: 20px;
        align-self: center;
    }

    header .burger-menu {
        display: block;
    }

    header ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 150px;
        height: 100%;
        background: #2b1055;
        flex-direction: column;
        transition: left 0.3s ease-in-out;
    }

    header ul.active {
        left: 0;
    }

    header ul li {
        margin: 20px 0;
    }

    .about-me-dua {
        width: 100%;
        margin-top: 20px;
    }

    .kotak-dua {
        width: 300px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .kotak-dua p {
        font-size: 14px;
        bottom: -10px;
    }

    .kotak-dua img {
        width: 100%;
        height: auto;
        left: 0;
        bottom: -10px;
    }

    .kotak-judul-dua {
        left: 20px;
        top: 20px;
        background-color: transparent;
        padding: 0;
        text-align: left;
        width: fit-content;
    }

    .jumlah-project {
        right: -100px;
        bottom: 400px;
        width: 80px;
    }

    .jumlah-project h1 {
        font-size: 50px;
    }

    .jumlah-project h2 {
        bottom: 10px;
        font-size: 14px;
        left: 10px;
    }

    .about-me-dua {
        width: 100%;
        margin-top: 10px;
    }

    .kotak-dua p {
        bottom: -10px;
    }
}

@media (max-width: 576px) {
    .kotak-dua {
        width: 480px;
        margin-right: 0;
    }

    .kotak-judul-dua {
        left: 50px;
        width: 200px;
    }

    .jumlah-project {
        left: 50px;
        width: 120px;
    }

    .jumlah-project h1 {
        font-size: 60px;
    }

    .jumlah-project h2 {
        font-size: 0.8em;
    }

    .about-me-dua {
        width: 100%;
        margin-top: 20px;
    }

    .header-tiga {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .see-more {
        margin-top: 20px;
    }

    .content-garage {
        flex-direction: column;
        align-items: center;
    }

    .card-event {
        width: 90%;
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px 20px;
    }

    header .logo {
        font-size: 14px;
    }

    header ul li a {
        font-size: 10px;
    }

    .dua {
        height: fit-content;
    }

    .kotak-dua {
        width: 300px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .kotak-dua img {
        width: 100%;
        height: auto;
        left: 0;
        bottom: -20px;
    }

    .kotak-judul-dua {
        left: 20px;
        top: 20px;
        background-color: transparent;
        padding: 0;
        text-align: left;
        width: fit-content;
    }

    .jumlah-project {
        right: -150px;
        bottom: 500px;
        width: 100px;
    }

    .jumlah-project h1 {
        font-size: 70px;
    }

    .jumlah-project h2 {
        bottom: 20px;
        font-size: 18px;
        left: 20px;
    }

    .about-me-dua {
        width: 100%;
        margin-top: 20px;
    }

    .kotak-dua p {
        bottom: -20px;
    }
}

@media (max-width: 320px) {
    .dua {
        height: fit-content;
    }

    .kotak-dua {
        width: 300px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .kotak-dua img {
        width: 100%;
        height: auto;
        left: 0;
        bottom: -20px;
    }

    .kotak-judul-dua {
        left: 20px;
        top: 20px;
        background-color: transparent;
        padding: 0;
        text-align: left;
        width: fit-content;
    }

    .jumlah-project {
        right: -150px;
        bottom: 500px;
        width: 100px;
    }

    .jumlah-project h1 {
        font-size: 70px;
    }

    .jumlah-project h2 {
        bottom: 20px;
        font-size: 18px;
        left: 20px;
    }

    .about-me-dua {
        width: 100%;
        margin-top: 20px;
    }

    .kotak-dua p {
        bottom: -20px;
    }
}

.tiga {
    height: 100vh;
    padding-left: 50px;
    padding-top: 50px;
    background: #282424;
}

.header-tiga {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 50px;
    color: white;
    margin-bottom: 100px;
}

.content01 {
    font-size: 24px;
}

.see-more {
    position: relative;
    margin-top: 90px;
}

.see-more button {
    border: none;
    background-color: green;
    width: 100px;
    height: 50px;
    color: white;
}

.content-garage {
    width: 100%;
    display: flex;
    justify-content: right;
}

.card-event {
    background-color: #3a3535;
    width: 400px;
    height: 400px;
    margin-left: 20px;
    display: block;
}

.small-box {
    position: relative;
    background-color: #fec195;
    right: -350px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.small-box a {
    color: white;
}

.small-box i {
    transition: all 0.3s ease-in-out;
}

.small-box:hover {
    cursor: pointer;
}

.small-box::before {
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.3s ease-in;
}

.small-box:hover::before {
    width: 20px;
    height: 20px;
}

.small-box:hover i {
    transform: translateX(13px) translateY(-10px) rotate(-35deg);
}

.small-box:active::before {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease-in, height 0.3s ease-in;
}

.small-box.active::before {
    width: 100%;
    height: 100%;
}

.small-box i {
    font-size: 30px;
    transform: rotate(-35deg);
}

.card-event h1 {
    position: relative;
    color: white;
    font-size: 450px;
    top: -37px;
    background: linear-gradient(45deg, #ff9a9e, #cdbbb6, #fad0c4, #ff9a9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* From Uiverse.io by MuhammadHasann */
.see-more button {
    position: relative;
    padding: 0;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
}

.see-more button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
}

.see-more button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.see-more button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.see-more button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.see-more button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.see-more button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.see-more button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #fffdef;
}

[data-section] {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

[data-section].visible {
    opacity: 1;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

/* loading */
.loader {
    display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.curve {
    width: 180%;
    height: 180%;
    position: absolute;
    animation: rotate 8s linear infinite;
    fill: transparent;
}

.curve text {
    letter-spacing: 20px;
    text-transform: uppercase;
    font: 1.5em "Fira Sans", sans-serif;
    fill: white;
    filter: drop-shadow(0 2px 8px black);
}

.blackhole {
    z-index: -1;
    display: flex;
    position: absolute;
    width: 8rem;
    height: 8rem;
    align-items: center;
    justify-content: center;
}

.blackhole-circle {
    z-index: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        black 25%,
        white 35%,
        white 100%
    );
    box-shadow: 0px 0px 2rem #c2babb;
    align-items: center;
    justify-content: center;
}

.blackhole-circle::after {
    z-index: 0;
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid white;
    background: radial-gradient(
        circle at center,
        black 35%,
        white 60%,
        white 100%
    );
    box-shadow: 0px 0px 5rem #c2babb;
    align-items: center;
    justify-content: center;
    filter: blur(4px);
    animation: pulseAnimation linear infinite 2s alternate-reverse;
}

.blackhole-circle::before {
    z-index: 1;
    content: "";
    display: flex;
    width: 4rem;
    height: 4rem;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 10px #c2babb, inset 0 0 1rem #ffffff;
    border-radius: 50%;
    top: 5rem;
    filter: blur(0.5px);
    animation: rotate linear infinite 3s;
}

.blackhole-disc {
    position: absolute;
    z-index: 0;
    display: flex;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        #ffffff 80%,
        #353535 90%,
        white 100%
    );
    filter: blur(1rem) brightness(130%);
    border: 1rem solid white;
    box-shadow: 0px 0px 3rem #d7c4be;
    transform: rotate3d(1, 1, 1, 220deg);
    animation: pulseAnimation2 linear infinite 2s alternate-reverse;
    justify-content: center;
    align-items: center;
}

.blackhole-disc::before {
    content: "";
    position: absolute;
    z-index: 0;
    display: flex;
    width: 5rem;
    height: 10rem;
    border-radius: 50%;
    background: radial-gradient(
        circle at center,
        #ffffff 80%,
        #353535 90%,
        white 100%
    );
    filter: blur(3rem);
    border: 1rem solid white;
    box-shadow: 0px 0px 6rem #d7c4be;
    animation: pulseAnimation linear infinite 2s alternate-reverse;
}

@keyframes pulseAnimation {
    0% {
        box-shadow: 0px 0px 3rem #c2babb;
        transform: scale(1);
    }

    100% {
        box-shadow: 0px 0px 5rem #c2babb;
        transform: scale(1.09);
    }
}

@keyframes pulseAnimation2 {
    0% {
        box-shadow: 0px 0px 3rem #c2babb;
        transform: rotate3d(1, 1, 1, 220deg) scale(1);
    }

    100% {
        box-shadow: 0px 0px 5rem #c2babb;
        transform: rotate3d(1, 1, 1, 220deg) scale(0.95);
    }
}


